body {
  font-family: system-ui;
  background: lightBlue;
  color: white;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #2e8bd2;
  padding: 20px;
}

.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 20px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(169, 169, 169, 0.29);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.box {
  margin: 40px;
}

.exercise {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropbtn {
  margin: auto;
}

.z1Content {
  display: none;
  background-color: #47a1ed;
  width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}

.z1Content p {
  text-align: left;
  margin: 0;
  text-indent: 15px;
}

#solution_z1 {
  text-indent: 0;
}

#solution_z2 {
  text-indent: 0;
}

#solution_z3 {
  text-indent: 0;
}

form {
  margin-top: 30px;
}

.value {
  margin-top: 15px;
  display: flex;
  height: 25px;
}

.value p {
  text-indent: 0;
}

.value input {
  margin-left: 10px;
}

.z1Content button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  font-size: 19px;
}

iframe {
  float: right;
  margin-left: 20px;
  border: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: white;
}

#closeButton {
  border-radius: 100%;
  width: 24px;
  height: 24px;
  border: none;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  float: right;
}

#closeButton:hover {
  background-color: rgba(49, 132, 60, 0.5);
}

button:hover {
  cursor: pointer;
}