body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

.home-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0;
}

.logo img {
    max-height: 80px;
}

main {
    padding: 20px;
}

.task {
    margin-bottom: 20px;
}

.inputs {
    margin-block: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.solution {
    margin-top: 10px;
}
