@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

body {
    padding: 1em;
}



.sections {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sections .section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5em;
}

.page {
    display: flex;
    flex-direction: column;
    /* gap: 3em; */
    overflow-x: hidden;
}

@media screen and (max-width: 767px){
    .sections .sectionsWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }

    .sections .section {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .sections .sectionsWrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0.5em;
    }

    .sections .section {
        width: 250px;
        height: 150px;
    }
}

@media screen and (min-width: 992px){
    .sections .sectionsWrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5em;
        place-items: center;
        align-content: center;
    }

    .sections .section {
        width: 250px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.5em;
    }
}

.sections .section:nth-child(1) { 
    background-color: rgba(30, 144, 255, 0.5);
}
.sections .section:nth-child(2) { 
    background-color: rgba(255, 69, 0, 0.5);
}
.sections .section:nth-child(3) { 
    background-color: rgba(138, 43, 226, 0.5);
}
.sections .section:nth-child(4) { 
    background-color: rgba(34, 139, 34, 0.5);
 }
.sections .section:nth-child(5) {
     background-color: rgba(255, 255, 0, 0.5);
}
.sections .section:nth-child(6) {
    background-color: rgba(75, 0, 130, 0.5);
}
.sections .section:nth-child(7) { 
    background-color: rgba(255, 165, 0, 0.5);
}
.sections .section:nth-child(8) { 
    background-color: rgba(255, 215, 0, 0.5);
}
.sections .section:nth-child(9) { 
    background-color: rgba(128, 128, 128, 0.5);
}

.sections .section {
    min-width: 150px;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 1em;
    font-size: 1.3em;
    text-align: center;
}

.sections .section:hover {
    transform: scale(1.05);
}

.selectTypeText {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin: 1em;
}

.selectTypeText small {
    font-size: 0.7em;
    color: gray;
    font-weight: 500;
}

.main {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.formulas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulas img {
    width: 70%;
}

@media screen and (max-width: 767px){
    .formulas img {
        width: 100%;
    }
}