{
box-sizing: border-box;
}

p {
border: 1px solid #000000;
padding: 10px;

}

body {
  font-family: cursiveBrush Script Std;
  padding: 10px;
  background: #ac8655;

}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
  background:;

}

.topnav {
  overflow: hidden;
  background-color: #333;

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid white;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.leftcolumn {
  float: left;
  width: 100%;
  ;
}

.rightcolumn {
  float: left;
  width: 100%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  position: center;

 }


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}