body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

.home-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0;
}

.logo img {
    height: 40px;
    width: 40px;
}

main {
    padding: 20px;
}

.task {
    width: 570px;
    margin-bottom: 20px;
}

.inputs {
    margin: 16px 0;
}

.inputs label{
    width: 270px;
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.solution {
    margin-top: 10px;
}
